.navigation .nav-item {
    color: var(--black);
}

.nav-item.btn {
    background-color: var(--primary);
    color: var(--white);
}

.nav-item.btn:hover {
    color: var(--white);
}

.nav-item::before {
    background-color: var(--black);
}

.section h1 {
    font-size: 76px;
}

.wrapper {
    justify-content: center;
    gap: 10px;
}

.section .row .col:nth-child(1) {
    flex: 1 0 30%;
}

.section .row .col:nth-child(2) {
    flex: 1 0 65%;
}

@media (max-width: 560px) {
    .section h1 {
        font-size: 36px;
    }

    .section .row .col:nth-child(2) {
        flex: 1 0 100%;
    }

    .section .row .col:nth-child(1) {
        display: none;
    }
}