.navigation .nav-item {
    color: var(--black);
}

.nav-item.btn {
    background-color: var(--primary);
    color: var(--white);
}

.nav-item.btn:hover {
    color: var(--white);
}

.nav-item::before {
    background-color: var(--black);
}

.section.catalog.banner {
    margin-top: 0;
    padding-top: 40px;
}

.banner.section {
    margin-top: 40px;
}

.banner.section h1 {
    font-size: 76px;
    line-height: 1;
}

.banner.section .uppercase.grey {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 5px;
    color: var(--black);
    text-transform: uppercase;
}

.banner.section .product-gallery {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.banner.section .product-gallery .wrapper {
    flex-direction: column;
}

.banner.section .product-gallery .wrapper.side {
    flex: 1 0 20%;
    gap: 10px;
}

.banner.section .product-gallery .wrapper.main {
    flex: 1 0 80%;
}

.banner.section .product-gallery .wrapper.side img:hover {
    cursor: pointer;
}

.banner.section .product-gallery .wrapper.main img {
    flex: 1;
}

.wrapper.buttons {
    gap: 20px;
    align-items: center;
}

.wrapper.buttons .btn {
    color: var(--white);
}

.faq .accordion-list .accordion-item .accordion-head .icon {
    background-color: transparent;
    color: var(--black);
}

.wrapper.buttons .secondary {
    background-color: transparent;
    color: var(--black);
    border: none;
    border-bottom: 1px solid var(--darkGrey);
    border-radius: 0;
    padding: 12px 5px;
}

.wrapper.buttons .secondary {
    display: flex;
    align-items: flex-end;
    padding: 0;
    padding-bottom: 5px;
}

.wrapper.buttons .secondary:hover {
    cursor: pointer;
}

.faq .accordion-list .accordion-item {
    padding: 10px 0;
}

.faq .accordion-list .accordion-item .accordion-body p {
    margin-top: 0;
    max-width: 95%;
}

.logos.section,
.logos.section .row {
    min-height: unset;
}

.steps.section .wrapper {
    align-items: center;
    gap: 60px;
    margin-top: 40px;
}

.steps.section .item {
    text-align: left;
}

.steps.section .item a {
    font-weight: 400;
    font-size: 30px;
}

.steps.section .item .step.active {
    color: var(--primary);
    font-weight: 600;
}

.steps.section .item a:hover {
    cursor: pointer;
}

.steps.section .item img {
    border-radius: 30px;
}

.steps.section .item h3 {
    font-size: 32px;
}

.case.section {
    background-image: url('../img/john-jane-case.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
}

.case.section h3,
.case.section p {
    max-width: 50%;
}

.case.section h3 {
    font-size: 58px;
}

.social-proof.section .card {
    border-radius: 30px;
}

.social-proof.section .card .logo,
.social-proof.section .card p {
    padding: 30px;
}

.social-proof.section .card .logo {
    max-width: 150px;
}

.social-proof.section .card .featured {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.section.decoration .wrapper.switch .item img:nth-child(2) {
    display: none;
}

.section.decoration .wrapper.switch .item:hover img:nth-child(1) {
    display: none;
    transition: var(--transition);
}

.section.decoration .wrapper.switch .item:hover img:nth-child(2) {
    display: block;
    transition: var(--transition);
}

.catalog .row {
    justify-content: flex-start;
    align-items: flex-start;
}

.catalog .row .col {
    flex: 1 0 20%;
    flex-grow: 0;
}

.catalog ul li {
    list-style: none;
    margin: 15px auto;
}

.section.case {
    display: none;
}

.section.social-proof {
    display: none;
}

.section.logos .row {
    margin-top: 0;
    margin-bottom: 0;
}

.section.header,
.section.header .row,
.section.footer,
.section.footer .row {
    min-height: unset;
}

.section,
.section .row {
    min-height: 60vh;
}

.section .uppercase {
    font-size: 30px;
    color: var(--darkGrey);
    text-transform: uppercase;
}

.items .wrapper .item {
    position: relative;
}

.items .wrapper .item,
.items .wrapper .item img {
    border-radius: 30px;
}

.items .wrapper .item .container {
    color: var(--white);
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
}

.items .wrapper .item.top .container {
    top: 20px;
}

.items .wrapper .item .container h5 {
    font-weight: 600;
    font-size: 54px;
    margin-bottom: 10px;
}

.items .wrapper .item .container a {
    color: var(--white);
    font-size: 18px;
    transition: var(--transition);
}

.items .wrapper .item .container a:hover {
    text-decoration: underline;
    transition: var(--transition);
}

.section.highlights {
    position: relative;
}

.section.highlights .container {
    position: absolute;
}

.section.highlights .container h3 {
    color: var(--white);
    font-weight: 600;
    font-size: 76px;
    margin-bottom: 10px;
}

.section.highlights .container a {
    color: var(--white);
    font-size: 20px;
    transition: var(--transition);
}

.section.highlights .container a:hover {
    text-decoration: underline;
    transition: var(--transition);
}

.section.sustainability {
    background-image: url('/sustainability/img/banner.jpg');
    color: var(--white);
}

.section.sustainability .row .col:nth-child(1) {
    flex: 2 0;
}

.section.sustainability .row .col:nth-child(2) {
    flex: 1 0;
}

.section.sustainability .btn:hover {
    color: var(--white);
}

.lookbook .contact-form {
    margin: 0;
}

.section.sustainability {
    position: relative;
}

.section.sustainability .row {
    z-index: 9;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.section.contact ol {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section.contact .wrapper {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: fit-content;
}

.section.contact .wrapper .item {
    flex: 1 0;
}

.section.contact .wrapper .item img {
    border-radius: 50%;
    max-width: 125px;
}


@media (max-width: 560px) {
    .case.section h3, 
    .case.section p {
        max-width: 100%;
    }

    .section h2 {
        font-size: 50px;
    }

    .steps.section .item a {
        font-size: 26px;
    }

    .case.section h3 {
        font-size: 42px;
    }
}