/* FONTS */
#calculator h3 {
    font-weight: 700;;
    font-size: 30px;
}

#calculator .output p {
    font-weight: 700;
}

#calculator {
    width: 100%;
    max-width: 85%;

    display: flex;
    flex-flow: row wrap;
    gap: 40px;
}

#calculator .item {
    flex: 1 0 350px;

    display: flex;
    flex-direction: column;

    padding: 30px;
    border-radius: 26px;
    background-color: var(--light-grey);
    border-bottom: 3px solid #dfdfdf;
}

#calculator .item:nth-of-type(1) {
    flex: 2 0;
}

#calculator .item:nth-of-type(2) {
    flex: 1 0;
}

#calculator .item.output {
    opacity: 0.2;
}

#calculator .item.output.active {
    opacity: 1;
}

#calculator .item.output .primary-btn {
    display: none;
}

#calculator .item.output.active .primary-btn {
    display: block;
}

#calculator .item form {
    display: flex;
    flex-direction: column;
}

#calculator .primary-btn {
    font-weight: 700;
    text-decoration: none;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 9px;
    padding: 10px 15px;
    margin-left: 0;
    margin-bottom: 10px;
    transition: var(--transition);
}

#calculator .primary-btn:hover {
    background-color: var(--primary);
    transition: var(--transition);
    transform: scale(1.05);
    cursor: pointer;
}

#calculator .primary-btn.bottom {
    margin: 0 auto;
    margin-top: auto;
}

#calculator .item .line-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

#calculator .item .line-item p {
    font-weight: 700;
}

#calculator .item .line-item span {
    color: var(--primary);
    font-weight: 700;
    font-size: 30px;
}

.results {
    text-align: left;
}

/* FORM */
#calculator form {
    margin-top: 10px;
}

#calculator form .form-item {
    display: flex;
    flex-direction: column;
}

#calculator form .form-item.checkbox {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

#calculator form input {
    width: 40%;
    border: 1px solid var(--primary);
    border-radius: 9px;
    margin-bottom: 10px;
}

#calculator form input[type=text] {
    height: 40px;
    padding: 10px;
    margin-top: 5px;
}

#calculator form input[type=text]:focus-visible,
#calculator form input[type=email]:focus-visible {
    outline: none;
    border: 3px solid var(--primary);
}

#calculator form input[type=checkbox] {
    width: fit-content;
    margin-right: 10px;
    margin-bottom: 0;
}

#calculator form input[type=range] {
    width: 60%;
    height: 20px;
    border: none;
    margin: 15px 0;
}

#calculator form input[type=submit] {
    margin-top: 20px;
}

#calculator .item.grey {
    opacity: 0.2;
}

#calculator .item.grey .primary-btn {
    display: none;
}

#formToMail .primary-btn:disabled {
    background-color:var(--light-grey);
    border-color:black;
    color:black;
    pointer-events: none;
}

/* SLIDER */
.output-wrapper {
    display: flex;
}

.output-wrapper .packages {
    margin-left: 5px;
    color: var(--primary);
    font-weight: 700;
}

.output-wrapper .packages:nth-child(3) {
    margin-bottom: 20px;
}

#output {
    color: var(--primary);
    text-align: left;
    font-weight: 700;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: var(--primary);
    cursor: pointer;

    border-radius: 50%;
}
  
.slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background: var(--primary);
    cursor: pointer;

    border-radius: 50%;
}

/* HIDDEN FORM */
#calculator .item #formToMail {
    display: none;
}

#calculator .item #formToMail .formContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#calculator .formContent input[type=text],
#calculator .formContent input[type=email] {
    height: 40px;
    width: 100%;
    padding: 5px;
}

#calculator .formContent input[type=submit] {
    width: 100%;
    margin-top: 0;
}

#calculator .item #formToMail .formContent input:nth-of-type(1) {
    border: 3px solid var(--primary);
}

#calculator .output-wrapper {
    flex-direction: column;
}

#calculator .monthly-wrapper {
    display: flex;
    flex-direction: row;
}

#calculator .yearly-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#calculator .yearly-wrapper div {
    font-weight: 700;
    opacity: 0.4;
}

#calculator .yearly-wrapper .year {
    margin-left: 5px;
}

#calculator .hidden {
    display: none;
}

@media (max-width: 560px) {
    #calculator {
        max-width: 100%;
        flex-direction: column;
    }

    #calculator form .form-item.checkbox {
        text-align: left;
    }

    #calculator .output-wrapper {
        font-size: 12px;
    }

    #calculator h3 {
        font-size: 20px;
    }
}