.footer.section .row .col:nth-child(2), 
.footer.section .row .col:nth-child(3) {
    display: flex;
}

.footer .row .socials {
    margin-top: 20px;
}

.footer .row p,
.footer .row a {
    line-height: 1.6;
}

.footer .contact-form {
    margin: 0;
}

.footer .row {
    align-items: flex-start;
}

.footer .row .col .contact-section .item {
    gap: 0;
}

.footer .socials i {
    transition: var(--transition);
}

.footer .socials i:hover {
    color: var(--primary);
    transition: var(--transition);
}

@media (max-width: 560px) {
    .footer .row .col {
        flex: 1 0 100%;
    }

    .footer .row .col.align-end {
        align-items: flex-start;
    }

    .footer .row {
        gap: 40px;
    }

    .section .row .col {
        gap: 0;
    }
}