.banner {
    color: var(--white);
    background-color: var(--blue);
    background-image: url('/platform/img/sunday-s.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 50%;
}

.section.banner h1, .section.banner p {
    max-width: 100%;
}

.banner h1 {
    font-size: 42px;
}

.banner .btn-wrapper {
    display: flex;
    gap: 20px;
}

.banner .btn-wrapper .btn {
    color: var(--black);
    background-color: var(--white);
    border-color: var(--white);
}

.banner .btn-wrapper .btn.ghost-btn {
    color: var(--white);
    background-color: transparent;
    border: 2px solid var(--white);
}

.logos.section {
    margin: 0;
}

.review.section {
    color: var(--white);
    background-color: var(--primary);
}

.review.section p {
    width: 60%;
}

.review.section .item {
    flex: 1 0;
    align-items: center;
    gap: 20px;
}

.review.section .author {
    font-weight: 700;
}

.review.section i {
    font-size: 40px;
}

.usp-wrapper {
    width: 100%;
    gap: 40px;
}

.usp-wrapper .item {
    flex: 1 0;
    align-items: center;
    gap: 20px;
    padding: 30px;
    border-radius: 12px;
    background-color: var(--white);
}

.usp-wrapper .item img {
    width: auto;
    height: 50px;
}

.testimonial-container {
    background-color: var(--white);
    border-radius: 12px;
}

.testimonial-container .testimonial-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.testimonial-container .quote {
    color: var(--black);
}

.testimonial-container img {
    width: 100%;
    max-width: 50px;
    height: auto;
}

.testimonial-container .testimonial-navigation {
    display: flex;
    justify-content: flex-end;
    background-color: #117EBD;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px;
}

.testimonial-container .testimonial-navigation .testimonial-navigation-arrows {
    display: flex;
    gap: 10px;
}

.testimonial-container .testimonial-navigation .testimonial-navigation-arrows i {
    border-radius: 50%;
    padding: 7px;
    color: #117EBD;
    background-color: var(--white);
}

.testimonial-container .testimonial-navigation .testimonial-navigation-arrows i:hover {
    cursor: pointer;
}