.splide__slide img {
    width: 100%;
    height: auto;
}

.splide__list {
    gap: 40px;
}

.splide__list .splide__slide {
    /* flex-direction: column;
    text-align: left;
    background-color: var(--white); */
}

.splide__list .splide__slide .splide__slide__content {
    padding: 20px;
}

.splide__list .splide__slide .splide__slide__content  h3 {
    font-size: 22px;
}

.gallery.section .splide__pagination {
    display: none;
}

.splide__slide,
.splide__list .splide__slide .splide__slide__content {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.splide__slide,
.splide__slide img {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}