.section.banner {
    min-height: 80vh;
}

.disclaimer {
  font-style: italic;
}

.animated-wrapper {
  width: 100%;
  margin: 40px auto;
}

.animated-wrapper .item .animated-number,
.animated-wrapper .item .animated-number span {
  font-weight: 700;
  font-size: 42px;
}

.section .row img {
  border-radius: 9px;
}

.review-wrapper {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
}

.review-wrapper .review-author {
    margin-top: 20px;
    font-weight: 700;
}

.review-wrapper .item a {
    color: var(--white);
    font-weight: 400;
}

.section .row .review-wrapper .review-author {
    color: var(--white);
}

.dots {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-self: center;
    margin-top: 40px;
}

.dots .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--white);
    opacity: 0.4;
    transition: var(--transition);
}

.dots .dot:hover {
    cursor: pointer;
}

.dots .dot.active {
    opacity: 1;
    transition: var(--transition);
}

@media (max-width: 560px) {
    .section .row .col {
        gap: 20px;
    }
}