.banner {
    background-image: url('/collections/img/banner.jpg');
}

.container ol li {
    font-weight: 600;
    font-size: 20px;
    margin: 20px 0;
}

.section.content .row a {
    color: var(--primary);
}