.banner {
    background-image: url('../img/banner.jpeg');
}

.section.pantone .wrapper .item:nth-child(1) .color {
    background-color: #fff;
    border: 1px solid var(--black);
}

.section.pantone .wrapper .item:nth-child(2) .color {
    background-color: #000;
}

.section.pantone .wrapper .item:nth-child(3) .color {
    background-color: #757575;
}