<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Your designed is uploaded | Sunday
    </title>

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/_building/_design-portal/upload/css/style.css">

    <link rel="stylesheet" href="/_building/_design-portal/upload/components/uploaded/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="apple-touch-icon" sizes="180x180" href="/branding/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/branding/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/branding/favicon/favicon-16x16.png">
    <link rel="manifest" href="/branding/favicon//site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

<header>
    <div class="section header" id="header">
        <div class="row flex-col center">
            <img class="logo" src="/branding/logo-white.svg">
        </div>
    </div>
</header>

<div class="section main">
    <div class="row flex-col center">
        <h1>
            your design was successfully uploaded
        </h1>
        <div class="success">
            <input id="page-url" class="share-url" type="text" readonly value="design.teamsunday.com/{order-number}/26DH13d">
            <input id="copy-url" class="btn" type="submit" value="Copy URL">
        </div>
    </div>
</div>

<footer>
    <div class="section footer" id="footer">
        <div class="row flex-col center">
            <img class="logo" src="/branding/logo-white.svg">
        </div>
    </div>
</footer>

    <script src="/_building/_design-portal/upload/js/script.js"></script>
</body>
</html>