@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');

@font-face {
    font-family: 'MorangaLight';
    src: url('/assets/font/MorangaLight/font.woff') format('woff2'),
         url('/assets/font/MorangaLight/font.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --black-color: #333332;
    --white-color: #ffffff;
    --white-color-hover: #F2F2F2;
    --primary-color: #752BC9;
    --primary-color-hover: #9D58D6;
    --yellow-color: #FEEA02;
    --yellow-color-hover: #FFF44C;
    --dark-blue-color: #1C1B40;
    --dark-blue-color-hover: #3F3D6A;
    --pink-color: #FF6192;
    --light-purple-color: #8B80F8;

    --heading-font-family: "MorangaLight", sans-serif; 
    --body-font-family: "Inter", sans-serif;

    --border-radius: 20px;
}

/* GENERAL STYLES */
* {
    font-family: var(--body-font-family);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #F7F6FF;
}

.section .row {
    max-width: 1400px;
}

.section h1,
.section h2,
.section h3 {
    font-family: var(--heading-font-family);
}

.section h1 {
    font-size: 56px;
}

.section h2 {
    font-size: 42px;
}

.section h3 {
    font-size: 22px;
}

.section a {
    color: var(--primary-color);
    transition: var(--transition);
}

.section a:hover {
    color: var(--primary-color-hover);
    transition: var(--transition);
}

.section ul,
.section ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    margin-left: 20px;
}

.section .bold {
    font-weight: 700;
}

.wrapper .item .btn {
    margin-top: unset;
}

/* HEADER STYLES */
.section.header {
    display: flex;
}

.section.header .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.section.header .navbar {
    display: flex;
    gap: 40px;
}

.section.header .navbar .nav {
    color: var(--white);
}

.section.header.active .navbar .nav {
    color: var(--black-color);
}

.section.header .button-wrapper {
    margin-left: auto;
}

/* BUTTON STYLES */
.btn.dark-blue-btn {
    color: var(--white-color);
    background-color: var(--dark-blue-color);
    border: 1px solid var(--dark-blue-color);
}

.btn.dark-blue-btn:hover {
    color: var(--white-color);
    background-color: var(--dark-blue-color-hover);
    border: 1px solid var(--dark-blue-color-hover);
    transform: unset;
}

.btn.yellow-btn {
    color: var(--black-color);
    background-color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
}

.btn.yellow-btn:hover {
    color: var(--black-color);
    background-color: var(--yellow-color-hover);
    border: 1px solid var(--yellow-color-hover);
    transform: unset;
}

.btn.white-btn {
    color: var(--black-color);
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
}

.btn.white-btn:hover {
    color: var(--black-color);
    background-color: var(--white-color-hover);
    border: 1px solid var(--white-color-hover);
    transform: unset;
}


/* PAGE SPECIFIC STYLES */
.section.hero {
    background-color: var(--primary-color);
    margin-bottom: 100px;
}

.section.hero.gradient {
    background: linear-gradient(90deg, var(--primary-color), var(--primary-color-hover));
}

.section.hero h1 {
    margin-top: 40px;
}

.section.hero h1,
.section.hero p {
    color: var(--white-color);
}

.section.section.hero p {
    width: 60%;
}

.section.hero .platform-interface {
    margin-bottom: -15%;
}

.section h2 {
    width: 60%;
}

.usp-wrapper .item {
    align-items: flex-start;
    background-color: unset;
}

.usp-wrapper .item img {
    width: auto;
    height: unset;
}

.usp-wrapper .content {
    text-align: left;
}

.usp-wrapper .content p {
    margin-top: 10px;
}

.platform-action {
    background-image: url('../img/action-bg.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 40vh;
}

.platform-action p {
    width: 20%;
}

.section .cta-wrapper {
    background-color: var(--pink-color);
    padding: 0 60px;
    border-radius: var(--border-radius);
}

.section .cta-wrapper h3 {
    color: var(--white-color);
}

.section .cta-wrapper .item:nth-child(1) {
    flex: 2 0;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.section .cta-wrapper .item:nth-child(2) {
    flex: 1 0;
}

.section .features-wrapper {
    gap: 20px;
}

.section .features-wrapper .item {
    align-items: flex-start;
    background-color: var(--white-color);
    padding: 30px;
    border-radius: var(--border-radius);
}

.section .features-wrapper .item h3,
.section .features-wrapper .item p {
    text-align: left;
    margin-bottom: 10px;
}

.section .cta-wrapper.purple {
    background-color: var(--light-purple-color);
    padding: 30px 60px;
}

.section .cta-wrapper.purple h2 {
    color: var(--white-color);
    text-align: left;
    font-size: 40px;
}

.section .why-outer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
}

.section .why-wrapper-nav {
    display: flex;
    gap: 40px;
}

.section .why-wrapper-nav .nav-item {
    color: var(--black);
    font-size: 20px;
    opacity: 0.6;
    transition: var(--transition);
}

.section .why-wrapper-nav .nav-item:hover {
    cursor: pointer;
}

.section .why-wrapper-nav .nav-item.active {
    color: var(--black);
    opacity: 1;
    transition: var(--transition);
}

.section .why-wrapper .item ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navy-blue-bg {
    background-color: var(--dark-blue-color);
}

.navy-blue-bg h2,
.navy-blue-bg p {
    color: var(--white-color);
}

.review-wrapper-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.review-wrapper-nav h2 {
    text-align: left;
}

.review-wrapper-nav-arrows {
    display: flex;
    gap: 20px;
}

.review-wrapper-nav-arrows .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white-color);
    border-radius: var(--border-radius);
    width: 40px;
    height: 40px;
    opacity: 0.6;
    transition: var(--transition);
}

.review-wrapper-nav-arrows .icon:hover {
    opacity: 1;
    cursor: pointer;
    transition: var(--transition);
}

.review-wrapper-nav-arrows .icon i {
    color: var(--white-color);
}

.review-wrapper {
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    padding: 30px 60px;
    margin-top: 40px;
}

.review-wrapper .item img {
    flex: 1 0;
}

.review-wrapper .item .review-wrapper-body {
    flex: 3 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review-wrapper .item .review-wrapper-body h3 {
    color: var(--primary-color);
}

.review-wrapper .item .review-wrapper-body p {
    color: var(--black-color);
}

.review-wrapper .item .review-wrapper-body .author {
    opacity: 0.6;
}

.features-wrapper {
    margin-top: 40px;
}

.features-wrapper .item {
    gap: 20px;
}

.features-wrapper .item img {
    width: auto;
    height: unset;
}


/* FOOTER STYLES */
.footer {
    background-color: transparent;
    padding: 0;
}

.footer .row {
    padding: 60px;
}

.footer .socials-wrapper {
    margin-top: 20px;
    gap: 10px;
}

.footer .socials-wrapper .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--black-color);
    border-radius: 50%;
    font-size: 16px;
}

.footer .socials-wrapper .icon i {
    color: var(--black-color);
    transition: var(--transition);
}

.footer .footer-wrapper {
    display: flex;
    width: 100%;
    gap: 60px;
}

.footer .footer-wrapper .item {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer .footer-wrapper .nav a {
    color: var(--black);
}

.footer .footer-wrapper a,
.footer .footer-wrapper p {
    font-size: 14px;
    text-align: left;
}

.footer .logo {
    width: 125px;
}

@media (max-width: 560px) {
    .section h1 {
        font-size: 30px;
    }

    .section.section.hero p {
        width: 100%;
    }

    .section .cta-wrapper .item:nth-child(1) {
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }

    .section .cta-wrapper .item:nth-child(2) {
        display: none;
    }

    .section .why-wrapper-nav {
        gap: 10px;
    }

    .section .why-wrapper-nav .nav-item {
        font-size: 16px;
    }

    .platform-action p {
        width: 100%;
    }

    .section .cta-wrapper.purple {
        padding: 30px;
    }

    .footer .footer-wrapper {
        flex-direction: column;
        gap: 20px;
    }
}