@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');

@font-face {
    font-family: 'MorangaLight';
    src: url('/assets/font/MorangaLight/font.woff') format('woff2'),
         url('/assets/font/MorangaLight/font.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --black-color: #333332;
    --white-color: #ffffff;
    --white-color-hover: #F2F2F2;
    --primary-color: #752BC9;
    --primary-color-hover: #9D58D6;
    --yellow-color: #FEEA02;
    --yellow-color-hover: #FFF44C;
    --dark-blue-color: #1C1B40;
    --dark-blue-color-hover: #3F3D6A;
    --pink-color: #FF6192;
    --light-purple-color: #8B80F8;

    --heading-font-family: "MorangaLight", sans-serif; 
    --body-font-family: "Inter", sans-serif;

    --border-radius: 20px;
}

/* GENERAL STYLES */
* {
    font-family: var(--body-font-family);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #F7F6FF;
}

.section h1,
.section h2,
.section h3 {
    font-family: var(--heading-font-family);
}

.section h1 {
    font-size: 56px;
}

.section h2 {
    font-size: 42px;
}

.section h3 {
    font-size: 22px;
}

.section p {

}

.section a {
    color: var(--primary-color);
    transition: var(--transition);
}

.section a:hover {
    color: var(--primary-color-hover);
    transition: var(--transition);
}

.section ul,
.section ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section ul li,
.section ol li {

}

.section .bold {
    font-weight: 700;
}

.wrapper .item .btn {
    margin-top: unset;
}

/* HEADER STYLES */
.section.header {
    display: flex;
}

.section.header .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.section.header .navbar {
    display: flex;
    gap: 40px;
}

.section.header .navbar .nav {
    color: var(--white);
}

.section.header .button-wrapper {
    margin-left: auto;
}

/* BUTTON STYLES */
.btn.dark-blue-btn {
    color: var(--white-color);
    background-color: var(--dark-blue-color);
    border-color: var(--dark-blue-color);
}

.btn.dark-blue-btn:hover {
    background-color: var(--dark-blue-color-hover);
    border-color: var(--dark-blue-color-hover);
    transform: unset;
}

.btn.yellow-btn {
    color: var(--black-color);
    background-color: var(--yellow-color);
    border-color: var(--yellow-color);
}

.btn.yellow-btn:hover {
    background-color: var(--yellow-color-hover);
    border-color: var(--yellow-color-hover);
    transform: unset;
}

.btn.white-btn {
    color: var(--black-color);
    background-color: var(--white-color);
    border-color: var(--white-color);
}

.btn.white-btn:hover {
    background-color: var(--white-color-hover);
    border-color: var(--white-color-hover);
    transform: unset;
}


/* PAGE SPECIFIC STYLES */
.section.hero {
    background-color: var(--primary-color);
    margin-bottom: 100px;
}

.section.hero h1 {
    margin-top: 40px;
}

.section.hero h1,
.section.hero p {
    color: var(--white-color);
}

.section.section.hero p {
    width: 60%;
}

.section.hero .platform-interface {
    margin-bottom: -15%;
}

.section h2 {
    width: 60%;
}

.usp-wrapper .item {
    align-items: flex-start;
    background-color: unset;
}

.usp-wrapper .item img {
    width: auto;
    height: unset;
}

.usp-wrapper .content {
    text-align: left;
}

.usp-wrapper .content p {
    margin-top: 10px;
}

.section .cta-wrapper {
    background-color: var(--pink-color);
    padding: 0 60px;
    border-radius: var(--border-radius);
}

.section .cta-wrapper h3 {
    color: var(--white-color);
}

.section .cta-wrapper .item:nth-child(1) {
    flex: 2 0;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.section .cta-wrapper .item:nth-child(2) {
    flex: 1 0;
}