.banner {
    background-image: url('../img/banner.jpg');
}

.section.pantone .wrapper .item:nth-child(1) .color {
    background-color: #DEC8AF;
}

.section.pantone .wrapper .item:nth-child(2) .color {
    background-color: #F0DD09;
}

.section.pantone .wrapper .item:nth-child(3) .color {
    background-color: #4BA6CF;
}

.section.pantone .wrapper .item:nth-child(4) .color {
    background-color: #223254;
}

.section.pantone .wrapper .item:nth-child(5) .color {
    background-color: #000;
}