.section.blue .row {
    z-index: 9;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.section.blue,
.section.blue .row {
    height: fit-content;
    min-height: fit-content;
}

.section.blue h1 {
    font-size: 76px;
}

.section.blue h1,
.section.blue p {
    max-width: 50%;
}

#filter {
    background-color: var(--lightGrey);
    min-height: unset;
}

#filter .wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
}

#filter .wrapper .item {
    flex: 1 0;
    display: flex;
}

#filter .wrapper .item select {
    border: none;
    border-radius: 26px;
    padding: 10px;
    background-color: #F3F0EE;
    font-size: 18px;
}

#filter .wrapper .item a {
    font-size: 18px;
    text-decoration: underline;
}

.section.content {
    min-height: unset;
}

#clear-all:hover {
    cursor: pointer;
}

.section.content .row .wrapper .card {
    flex: 0 1 350px;
}

@media (max-width: 560px) {
    .section.blue h1, 
    .section.blue p {
        max-width: 100%;
    }

    .section.content .row .wrapper .card {
        flex: 1 0 100%;
    }
}