.section.banner {
  min-height: 30vh;
  background-color: var(--lightGrey);
}

.navigation .nav-item {
  color: var(--black);
}

.gallery-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}

.gallery-wrapper .item {
  flex: 1 0 30%;
}

.gallery-wrapper .item img {
  border-radius: 12px;
  width: 100%;
}

.gallery-wrapper {
  width: 100%;
  gap: 40px;
}

.gallery-wrapper .item {
  justify-content: flex-end;
  overflow: hidden;
}

.gallery-wrapper .item:hover img {
  transform: scale(1.10);
  transition: var(--transition);
}

.gallery-wrapper .item img {
  height: 100%;
  transition: var(--transition);
}

@media (max-width: 560px) {
  .gallery-wrapper .item {
    width: 100%;
    flex: 1 0 100%;
  }

  .banner.section,
  .banner.section .row {
    height: 50vh;
  }
}
