.banner {
    background-image: url('../img/background.png');
}

.navigation .nav-item {
    color: var(--black);
}

.nav-item.btn {
    background-color: var(--primary);
    color: var(--white);
}

.nav-item.btn:hover {
    color: var(--white);
}

.nav-item::before {
    background-color: var(--black);
}

.banner h1 {
    font-size: 76px;
}

.banner .btn-wrapper {
    display: flex;
    gap: 20px;
}

.banner .btn-wrapper .ghost-btn {
    border: 2px solid var(--primary);
}

.banner .btn-wrapper .ghost-btn:hover {
    color: var(--primary);
}

.section .align-end {
    align-self: flex-end;
}

.case {
    background-image: url('../img/lansweeper.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.case.section .row h2,
.case.section .row p {
    width: 50%;
    color: var(--white);
}

.case.section .btn {
    color: var(--white);
    border-color: var(--white);
}

@media (max-width: 560px) {
    .case.section .row h2,
    .case.section .row p {
        width: 100%;
    }
}