.main h1 {
    color: var(--black);
}

.section,
.section .row {
    min-height: unset;
    height: unset;
}

.main .form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 20px;
    width: 50%;
    background-color: var(--lightGrey);
    border-radius: 30px;
    box-shadow: var(--boxShadow);
}

.main .form-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main .form-wrapper form .btn {
    color: var(--white);
    border: none;
    padding: 15px;
}

.main input:hover {
    cursor: pointer;
}

.main input,
.main select,
.main textarea {
  width: 100%;
  padding: 10px 15px;
  border-radius: 9px;
  border: 1px solid var(--black);
  font-size: 14px;
  color: var(--black);
  transition: var(--transition);
}

.main input::placeholder ,
.main select::placeholder ,
.main textarea::placeholder  {
  color: var(--black);
  opacity: 1;
}

.main input:focus-visible,
.main select:focus-visible,
.main textarea:focus-visible {
  border: 3px solid var(--primary);
  outline: none;
  transition: var(--transition);
}

.header,
.footer {
    background-color: var(--black);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.header .row,
.footer .row {
    margin: 0;
    padding: 30px;
}

.logo {
    max-width: 200px;
}