/* General banner styles */
.banner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
}

.section a {
    color: var(--primary);
    text-decoration: underline;
}

.section a:hover {
    cursor: pointer!important;
}
  
/* Adjustments for full-height sections */
.banner.section.full-height {
    height: unset;
}
  
/* Overlay styles */
.banner .overlay {
    background: var(--overlay);
}
  
/* Adjustments for elements within the banner */
.banner .row {
    z-index: 20;
}
  
.banner h1 {
    font-size: 60px;
}
  
.banner h1,
.banner p {
    max-width: 60%;
}
  
.bold {
    font-weight: 700;
}

ul,
ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Button styles */
.section.banner .btn {
    background-color: transparent;
    padding: 5px 15px;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
/* Purple text styles */
.section .purple.large {
    color: var(--primary);
    font-weight: 600;
    font-size: 46px;
}
  
/* Content section styles */
.section.content .row {
    max-width: 960px;
}

.section.content .row.flex-col,
.section.related-content .row {
    align-items: center;
}
  
/* Container styles */
.section .container {
    background-color: #fafafa;
    padding: 40px;
}
  
/* Heading styles */
.section h2 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 16px;
}
  
.section h3,
.section h4 {
    color: var(--darkGrey);
    margin-top: 20px;
    margin-bottom: 10px;
}
  
/* Adjusted heading sizes for better readability */
.section h3 {
    font-size: 24px;
}
  
.section h4 {
    font-size: 20px;
}
  
/* Media query adjustments for smaller screens */
@media (max-width: 560px) {
    .section.banner {
        min-height: unset;
    }
  
    .banner h1,
    .banner p {
        max-width: 100%;
    }
}