@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

@font-face {
    font-family: 'MorangaLight';
    src: url('/assets/font/MorangaLight/font.woff') format('woff2'),
         url('/assets/font/MorangaLight/font.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --black-color: #333332;
    --white-color: #ffffff;
    --white-color-hover: #F2F2F2;
    --primary-color: #752BC9;
    --primary-color-hover: #9D58D6;
    --yellow-color: #FEEA02;
    --yellow-color-hover: #FFF44C;
    --dark-blue-color: #1C1B40;
    --dark-blue-color-hover: #3F3D6A;
    --pink-color: #FF6192;
    --light-purple-color: #8B80F8;
    --green-color: #0CCA02;

    --heading-font-family: "MorangaLight", sans-serif; 
    --body-font-family: "Inter", sans-serif;

    --border-radius: 20px;
}

.blog_overview_page,
.blog_overview_page .row {
    height: 50vh;
}

/* GENERAL STYLES */
* {
    font-family: var(--body-font-family);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #F7F6FF;
}

.section .row {
    max-width: 1400px;
}

.section h1,
.section h2,
.section h3, 
.section h4, 
.section h5 {
    font-family: var(--heading-font-family);
}

.section h5 {
    color: var(--black-color);
}

.section h1 {
    font-size: 56px;
}

.section h2 {
    font-size: 42px;
}

.section h3 {
    font-size: 22px;
}

.section a {
    color: var(--primary-color);
    transition: var(--transition);
}

.section a:hover {
    color: var(--primary-color-hover);
    transition: var(--transition);
}

.btn-wrapper .btn {
    text-decoration: none;
}

.section ul,
.section ol {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    margin-left: 20px;
}

.section .bold {
    font-weight: 700;
}

.wrapper .item .btn {
    margin-top: unset;
}

.section.blue h1 {
    font-size: 76px;
}

.section.blue h1,
.section.blue p {
    max-width: 50%;
}

#filter {
    background-color: var(--lightGrey);
    min-height: unset;
}

#filter .wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
}

#filter .wrapper .item {
    flex: 1 0;
    display: flex;
}

#filter .wrapper .item select {
    border: none;
    border-radius: 26px;
    padding: 10px;
    background-color: #F3F0EE;
    font-size: 18px;
}

#filter .wrapper .item a {
    font-size: 18px;
    text-decoration: underline;
}

.section.content {
    min-height: unset;
}

#clear-all:hover {
    cursor: pointer;
}

.section.content .row .wrapper .card {
    flex: 0 1 350px;
}

/* BUTTON STYLES */
.btn.dark-blue-btn {
    color: var(--white-color);
    background-color: var(--dark-blue-color);
    border: 1px solid var(--dark-blue-color);
  }
  
  .btn.dark-blue-btn:hover {
    color: var(--white-color);
    background-color: var(--dark-blue-color-hover);
    border: 1px solid var(--dark-blue-color-hover);
    transform: unset;
  }
  
  .btn.yellow-btn {
    color: var(--black-color);
    background-color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
  }
  
  .btn.yellow-btn:hover {
    color: var(--black-color);
    background-color: var(--yellow-color-hover);
    border: 1px solid var(--yellow-color-hover);
    transform: unset;
  }

@media (max-width: 560px) {
    .section.blue h1, 
    .section.blue p {
        max-width: 100%;
    }

    .section.content .row .wrapper .card {
        flex: 1 0 100%;
    }
}