.section.banner {
    color: var(--white);
    background-image: url('../img/banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: fit-content;
    position: relative;
}

.section.banner .row {
    z-index: 9;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.banner.section h1 {
    font-size: 76px;
}

.banner.section h1,
.banner.section p {
    color: var(--white);
    max-width: 65%;
}

.section .wrapper.sustainability {
    margin-top: 40px;
}

.section .wrapper {
    align-items: center;
}

.section .uppercase.grey {
    color: var(--darkGrey);
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 400;
}

.section.reuse .row {
    margin-top: 100px;
}

.section.product .wrapper {
    flex-flow: row wrap;
}

.section.product .wrapper .item.large {
    flex: 1 0 100%;
}

.section.product .wrapper .item.small {
    flex: 1 0 45%;
}

.section.idea,
.section.idea .row {
    min-height: unset;
}

.section.idea .wrapper {
    align-items: center;
}

.section.idea .wrapper .item img {
    max-width: 175px;
    border-radius: 50%;
}

.section.idea .wrapper .item .testimonial {
    font-weight: 600;
    font-size: 26px;
}

.section.idea .wrapper .item .author {
    color: var(--darkGrey);
    font-size: 18px;
    text-transform: uppercase;
}