:root {
    --borderRadius: 12px;
}

.navigation .nav-item {
    color: var(--black);
}

.section.banner {
    margin-top: 100px;
}

.section h1 {
    font-size: 50px;
}

.section h2 {
    font-size: 30px;
}

.section h1,
.section h2,
.section p,
.section span {
    color: #333;
}

.bold {
    font-weight: 700;
}

.section .w-60 {
    width: 60%;
}

.form-section .contact-form {
    width: 100%;
    padding: 30px;
    border-radius: var(--borderRadius);
    background-color: var(--blue);
}

.contact-form h2 {
    color: var(--black);
    font-size: 26px;
    margin-bottom: 20px;
}

.logos-wrapper {
    justify-content: center;
    align-items: center;
    padding: 30px;
}

ul,
ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.large.bold {
    font-size: 30px;
}

.logos.section {
    margin: 0 auto;
}

.video-wrapper {
    width: 60%;
}

@media (max-width: 560px) {
    .section.banner .row {
        padding: 30px;
    }

    .logos .wrapper .item {
        flex: 1 0 25%;
    }

    .section .w-60,
    .section .usp-wrapper .item p {
        width: 100%;
    }

    .section.banner p {
        font-size: 14px;
    }

    .section h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .section h2 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .large.bold {
        font-size: 26px;
        margin-top: 20px;
    }
}