.banner {
    background-image: url('../img/background.png');
}

.navigation .nav-item {
    color: var(--black);
}

.nav-item.btn {
    background-color: var(--primary);
    color: var(--white);
}

.nav-item.btn:hover {
    color: var(--white);
}

.nav-item::before {
    background-color: var(--black);
}

.banner h1 {
    font-size: 76px;
}

.banner .btn-wrapper {
    display: flex;
    gap: 20px;
}

.banner .btn-wrapper .ghost-btn {
    border: 2px solid var(--primary);
}

.banner .btn-wrapper .ghost-btn:hover {
    color: var(--primary);
}

.section .align-end {
    align-self: flex-end;
}

.case {
    background-image: url('../img/lansweeper.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.case.section .row h2,
.case.section .row p {
    width: 50%;
    color: var(--white);
}

.case.section .btn {
    color: var(--white);
    border-color: var(--white);
}

.icons.section,
.icons.section .row {
    min-height: fit-content;
}

.icons.section h5 {
    color: var(--primary);
    font-weight: 600;
    font-size: 26px;
    margin: 20px 0 10px 0;
}

.icons.section .wrapper {
    flex-flow: row wrap;
    gap: 100px;
}

.icons.section .wrapper .item {
    flex: 1 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.icons.section .item img {
    width: 100%;
    max-height: 40px;
}

.faq .accordion-list {
    gap: 0;
}

.faq .accordion-list .accordion-item .accordion-head h5 {
    font-size: 24px;
}

.faq .accordion-list .accordion-item {
    padding: 20px;
}

@media (max-width: 560px) {
    .case.section .row h2,
    .case.section .row p {
        width: 100%;
    }
}